.bio {
    margin: 10%;
    align-items: center;
    // float: right;
    display: flex;
    img {
        margin: 0 8%;
    }
    .content{
        max-width: 600px;
        h2 {
            font-size: 32px;
            font-weight: 700;
            color: black;
            font-style: bold;
        }
    }
    .icon {
        display: flex;
        padding: 5% 10%;
        justify-content: space-around;
    }
}
@media (max-width: 1366px) {
    html {
        font-size: 75%;
        height: 75%;
    }
}
@media (max-width: 768px) {
    html {
        font-size: 65%;
        height: 65;
    }
}
@media (max-width: 450px) {
    html {
        font-size: 55%;
        height: 55%;
    }
}